# Auto detect text files and perform LF normalization
* text=auto
home-credit-default-risk.zip filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/installments_payments.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/previous_application.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/POS_CASH_balance.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/application_train.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/bureau.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/bureau_balance.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/credit_card_balance.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/random_forest_tuned_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/xgboost_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/xgboost_plain_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/xgboost_plain_w_pca_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/logistic_regression_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/logistic_regression_plain_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/logistic_regression_plain_w_pca_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/xgboost_0.8_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/xgboost_0.95_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/lightgbm_tuned_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/logistic_regression_0.8_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/random_forest_plain_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/xgboost_wo_pca_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/logistic_regression_wo_pca_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/models/xgboost_1_models.pickle filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/correlation_matrices/credit_card_balance_correlation_matrix.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/correlation_matrices/installments_payments_correlation_matrix.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/correlation_matrices/previous_application_correlation_matrix.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/train_val_data/train.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/transformed/POS_CASH_balance_transformed.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/transformed/bureau_transformed.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/correlation_matrices/bureau_correlation_matrix.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/train_val_data/test.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/transformed/credit_card_balance_transformed.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/transformed/installments_payments_transformed.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/transformed/previous_application_transformed.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/correlation_matrices/POS_CASH_balance_correlation_matrix.csv filter=lfs diff=lfs merge=lfs -text
home-credit-default-risk/correlation_matrices/application_train_correlation_matrix.csv filter=lfs diff=lfs merge=lfs -text
*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
